.paragraph{
    text-align: center;
    font-weight: 800;
    color: rgb(194, 22, 134);
}
.glam{
    font-weight: 900;
    text-align: center;
    margin-top: 60px;
    color: rgb(197, 58, 186);
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.paragraph{
    margin: 0px;
    margin-bottom: 20px;
    /* background-color: gold; */
}
.text-gray-700{
    color: rgb(165, 42, 99);
}